---
import Footer from "@/components/layout/Footer.astro";
import NavBar from "@/components/layout/NavBar.astro";
import PigNoseWidget from "@/components/PigNoseWidget.astro";
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords: string[];
  canonical: string;
}

const { title, description, keywords, canonical } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class="bg-background-dark-90 scroll-smooth [tap-highlight-color:transparent] text-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/logo/256x.png" />
    <meta property="og:url" content={`https://fandmc.io` + canonical} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Fand Server" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/assets/logo/256x.png" />
    <link rel="canonical" href={`https://fandmc.io` + canonical} />
    <link rel="icon" type="image/png" href="/assets/logo/256x.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/logo/256x.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{`${title} | Fand Server`}</title>
  </head>
  <body class="fand-shell flex min-h-screen flex-col">
    <NavBar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <PigNoseWidget />
  </body>
</html>
